---
import Image from '../components/pages/gallery/Image.astro';
import Layout from '../layouts/Layout.astro';
import { getAlbums } from '../utils/sanity';
import { sortedPhotos } from '../utils/sortedPhotos';

export const prerender = false;

export function getStaticPaths() {
  return [{ params: { path: 'index' } }];
}

const albums = await getAlbums();
const photos = sortedPhotos(albums);
---

<Layout title="Alex Hughes">
  <section
    class="w-full grid grid-cols-[repeat(auto-fill,minmax(164px,1fr))] md:grid-cols-[repeat(auto-fill,minmax(320px,1fr))] px-4 pb-12 md:px-[30px] gap-4 md:gap-6"
  >
    {
      photos.length ? (
        photos.map((photo, index) => (
          <div class="m-auto h-[164px] max-w-[164px] w-full md:h-[320px] md:max-w-[320px] p-3 md:p-10 flex items-center justify-center">
            <a href="/project">
              <Image photo={photo} index={index} />
            </a>
          </div>
        ))
      ) : (
        <p>publish some photos</p>
      )
    }
  </section>
</Layout>
