---
import { Carousel } from '../components/Carousel';
import Layout from '../layouts/Layout.astro';
import { getAlbums } from '../utils/sanity';

export async function getStaticPaths() {
  const albums = await getAlbums();
  return albums.map((album) => ({
    params: { slug: album.title.toLowerCase() },
    props: {photos: album.photos, albumName: album.title}
  }));
}

const {photos, albumName} = Astro.props

---
<Layout title={albumName}>
 <Carousel client:load photos={photos} />
  <div class="p-4 md:p-7 flex justify-between"><h2 class="text-[18px] md:text-[32px]">{albumName}</h2></div>
</Layout>