---
import { Carousel } from '../components/Carousel';
import Layout from '../layouts/Layout.astro';
import { getAlbums } from '../utils/sanity';

export async function getStaticPaths() {
  const albums = await getAlbums();
  return albums.map((album, index) => {
    const previousAlbum = index > 0 ? albums[index - 1] : null
    const nextAlbum = index < albums.length - 1 ? albums[index + 1] : null

    if (previousAlbum) {
      album.photos.unshift({
        cover: true,
       image: previousAlbum.photos.find((photo) => photo.cover)?.image || previousAlbum.photos[0].image, 
       title: previousAlbum.photos.find((photo) => photo.cover)?.title || previousAlbum.photos[0].title,
       previousAlbum: true,
       albumTitle: previousAlbum.title
      })
    }

    if (nextAlbum) {
      album.photos.push({
        cover: true,
       image: nextAlbum.photos.find((photo) => photo.cover)?.image || nextAlbum.photos[0].image, 
       title: nextAlbum.photos.find((photo) => photo.cover)?.title || nextAlbum.photos[0].title,
       albumTitle: nextAlbum.title
      })
    }

    return {
    params: { slug: album.title.toLowerCase()},
    props: {photos: album.photos, albumName: album.title,}
  }});
}

const {photos, albumName} = Astro.props

---
<Layout title={albumName}>
 <Carousel client:load photos={photos} />
  <div class="p-4 md:p-7 flex justify-between"><h2 class="text-[18px] md:text-[32px]">{albumName}</h2></div>
</Layout>