---
import { PortableText } from 'astro-portabletext';
import Layout from '../layouts/Layout.astro';
import { getPagesBySlugQuery } from '../utils/sanity';

const page = await getPagesBySlugQuery('info');
---

<Layout title="Alex Hughes">
  <section class="grid grid-cols-4 md:grid-cols-12 px-4 md:px-[30px] gap-4 md:gap-6">
    <div
      class="col-span-4 md:col-span-8 col-start-1 text-lg md:text-[34px] leading-[20px] md:leading-[40px]"
    >
      <p class="md:hidden mb-5">Is a designer based on Malvern, England</p>
      <PortableText class="portable-text" value={page.body} />
    </div>
  </section>
</Layout>
