---
import Card from "../components/Card.astro";
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
---
<Layout title="Alex Hughes">
  <section class="grid grid-cols-4 md:grid-cols-12 px-[30px] mt-[58px] md:mt-[80px] gap-4 md:gap-6">
  <p>hi</p>
  </section>
</Layout>
