---
import Navigation from '../components/Navigation.astro';
import ThemeIcon from '../components/ThemeIcon.astro';
import Carousel from '../components/pages/project/Carousel.astro';
import { LabelAndPosition } from '../components/pages/project/LabelAndPosition';
import EmptyLayout from '../layouts/EmptyLayout.astro';
import { getAlbums } from '../utils/sanity';
import { sortedPhotos } from '../utils/sortedPhotos';

const albums = await getAlbums();

const flattenedSortedPhotos = sortedPhotos(albums);
---

<EmptyLayout title="Alex Hughes">
  <body class="h-full flex flex-col">
    <header class="flex justify-between items-center md:px-[30px] px-4 py-4 md:py-10">
      <a href="/" class="text-lg md:text-[34px] leading-[20px] md:leading-[40px] h-fit"
        >Alex Hughes</a
      >
      <div class="flex gap-4 md:gap-7 items-center">
        <ThemeIcon />
        <Navigation />
      </div>
    </header>
    <main class="flex flex-col grow">
      <Carousel photos={flattenedSortedPhotos} />
      <LabelAndPosition client:load />
    </main>
  </body>
</EmptyLayout>
<style>
  body {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
</style>
