---
import { formatDate } from "../utils";
import { urlFor } from "../utils/image";
import type { Post } from "../utils/sanity";

interface Props {
  post: Post;
}

const { post } = Astro.props;
---

<div class="h-[320px] flex items-center justify-center mx-4">
  {
    post.mainImage ? (
      <a
      href={`/post/${post.slug.current}`}>
      <img
      class="object-cover w-full h-full max-h-[240px] max-w-[240px] hover:opacity-40 transition-opacity duration-500 ease-in-out"
        src={urlFor(post.mainImage).url()}
        alt="Cover image"
      />
      </a>
    ) : (
      <div class="card__cover--none" />
    )
  }
  </div>

<style>
    & .card__cover--none {
      width: 100%;
      background: var(--black);
    }
   
</style>
