---
import clsx from "clsx";
import type { CoverPhotoProps } from "../utils/findCoverPhotos";
import { urlFor } from "../utils/image";


interface Props {
  photo: CoverPhotoProps;
  className?: string;
}
const {photo, className} = Astro.props;
---
<article class={clsx("flex gap-2 md:gap-4 flex-col col-span-4 md:col-start-3 md:col-span-8 w-fit md:max-w-[870px]", className)}>
  <a href={`/${photo.album.toLowerCase()}`}>
<img
class="hover:opacity-40 max-h-[350px] md:max-h-[unset] transition-opacity duration-500 ease-in-out"
  src={urlFor(photo.coverPhoto.image).url()}
  alt="Cover image"
/>
</a>
<div class="text-[18px] md:text-[34px] flex justify-between">
<h2>{photo.album}</h2>
<p>{photo.albumLength}</p>
</div>
</article>
