---
import clsx from 'clsx';
import { urlFor } from '../../../utils/image';
import type { FlattenedPhotosProps } from '../../../utils/sortedPhotos';

interface Props {
  photos: FlattenedPhotosProps[];
}

const { photos } = Astro.props;
---

<>
  <image-carousel class="grow">
    <ul
      class={clsx(
        'carousel',
        'flex snap-both snap-mandatory h-full',

        // mobile
        'items-center overflow-x-scroll',

        // desktop
        'overflow-x-hidden',
      )}
      data-photos={JSON.stringify(photos)}
    >
      {
        photos.map((photo, index) => (
          <li
            class={clsx(
              // mobile
              'h-full flex items-center shrink-0 pl-2.5 relative snap-start max-w-[calc(100vw_-_30px)] max-h-[calc(100vh_-_120px)] last-of-type:pr-2.5',

              // desktop
              'md:max-w-[unset] md:w-screen md:pl-0 md:last-of-type:pr-0',
            )}
            data-id={index}
          >
            <img
              class={clsx(
                'max-h-full',

                // desktop
                'md:object-contain md:h-full md:max-w-[90vw] md:absolute md:left-1/2 md:transition-all md:ease-in-out md:duration-[750ms] md:-translate-x-1/2',
              )}
              src={urlFor(photo.image).url()}
            />
          </li>
        ))
      }
    </ul>
  </image-carousel>
</>

<style>
  .carousel {
    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .is-next,
  .is-previous {
    z-index: 1;
  }

  .cursor-right,
  :global(.red) .cursor-right {
    cursor:
      url('/images/right-arrow.svg') 30 26,
      pointer;
  }

  :global(.dark) .cursor-right {
    cursor:
      url('/images/right-arrow-white.svg') 30 26,
      pointer;
  }

  .cursor-left,
  :global(.red) .cursor-left {
    cursor:
      url('/images/left-arrow.svg') 30 26,
      pointer;
  }

  :global(.dark) .cursor-left {
    cursor:
      url('/images/left-arrow-white.svg') 30 26,
      pointer;
  }

  @media (min-width: 960px) {
    .is-next {
      z-index: -1;
      & img {
        cursor: pointer;
        left: 0%;
        transform: translateX(-30px);
      }
    }

    .is-previous {
      z-index: -1;
      & img {
        cursor: pointer;
        left: 100%;
        transform: translateX(calc(-100% + 30px));
      }
    }
  }
</style>

<script>
  import {
    currentAlbum,
    selectedPhotoIndex,
    selectedPhotoRef,
  } from '../../../stores/selectedPhotoRefStore';
  import type { Photo } from '../../../utils/sanity';
  import type { FlattenedPhotosProps } from '../../../utils/sortedPhotos';

  class ImageCarousel extends HTMLElement {
    constructor() {
      super();

      console.log(selectedPhotoRef);

      const slides = this.querySelectorAll<HTMLLIElement>('.carousel > li');
      const carousel: HTMLUListElement = this.querySelector('.carousel')!;
      const isMobileScreen = window.innerWidth < 960;

      if (isMobileScreen) {
        setCurrentImageOnScroll(slides);
        // Listen for scroll event on the carousel
        carousel.addEventListener('scroll', () => setCurrentImageOnScroll(slides));
      } else {
        addCursorIconsForChosenImage(carousel);
      }

      this.onSlideClick = this.onSlideClick.bind(this);

      const json = carousel.dataset.photos;
      if (!json) return;

      const photos: FlattenedPhotosProps[] = JSON.parse(json);

      selectedPhotoIndex.subscribe((index) => setCurrentPhotoInformation(photos, index));

      selectedPhotoRef.subscribe((ref) =>
        assignCurrentPhotoBasedOnSelectedImage(ref, photos, slides),
      );

      slides.forEach((slide, index) => {
        slide.addEventListener('click', (e) => this.onSlideClick(e, index));
      });
    }

    // reset everything to start again
    resetCallback() {
      this.querySelector('.is-previous')?.classList.remove('is-previous');
      this.querySelector('.is-current')?.classList.remove('is-current');
      this.querySelector('.is-next')?.classList.remove('is-next');
    }

    // clean up when element is removed
    disconnectedCallback() {
      const slides = this.querySelectorAll<HTMLLIElement>('.carousel > li');
      slides.forEach((slide) => slide.removeEventListener('click', this.onSlideClick));
    }

    onSlideClick(e: MouseEvent, index?: number) {
      const carousel: HTMLUListElement = this.querySelector('.carousel')!;
      const slides = this.querySelectorAll<HTMLLIElement>('.carousel > li');
      const currentSlide = e.currentTarget as HTMLLIElement;

      if (isDesktopScreen) {
        if (eventIsOnRightHalfOfScreen(e, carousel)) {
          if (index === slides.length - 1) return null;

          this.resetCallback();

          setNextImageOnClick(currentSlide, index);
          this.querySelector('.is-current')?.scrollIntoView({ behavior: 'smooth' });
        } else {
          if (index === 0) return null;

          this.resetCallback();

          setPreviousImageOnClick(currentSlide, index);
          this.querySelector('.is-current')?.scrollIntoView({ behavior: 'smooth' });
        }
      } else {
        this.resetCallback();

        // Set the current photo index
        selectedPhotoIndex.set(index!);

        // add the latest correct classes
        setCurrentNextAndPreviousSlides(currentSlide);
        currentSlide.scrollIntoView({ behavior: 'smooth' });
      }
    }
  }

  customElements.define('image-carousel', ImageCarousel);

  const isDesktopScreen = window.innerWidth > 959;

  function setCurrentNextAndPreviousSlides(slide: HTMLLIElement) {
    slide.classList.add('is-current');
    slide.nextElementSibling?.classList.add('is-next');
    slide.previousElementSibling?.classList.add('is-previous');
  }

  function slideIsSomewhereInTheMiddle(slide: HTMLLIElement) {
    const rect = slide.getBoundingClientRect();
    return rect.left >= 0 && rect.right <= window.innerWidth;
  }

  function resetClassesForAllSlides(slides: NodeListOf<HTMLLIElement>) {
    slides.forEach((s) => s.classList.remove('is-previous', 'is-current', 'is-next'));
  }

  // Needed only for mobile on scroll
  function setCurrentImageOnScroll(slides: NodeListOf<HTMLLIElement>) {
    // Set classes when slide comes into viewport
    slides.forEach((slide, index) => {
      if (slideIsSomewhereInTheMiddle(slide)) {
        resetClassesForAllSlides(slides);
        setCurrentNextAndPreviousSlides(slide);

        selectedPhotoIndex.set(index);
      }
    });
  }

  function eventIsOnRightHalfOfScreen(e: MouseEvent, carousel: HTMLUListElement) {
    return (e.pageX / carousel.offsetWidth) * 100 > 50;
  }

  function addCursorIconsForChosenImage(carousel: HTMLUListElement) {
    carousel?.addEventListener('mousemove', (e) => {
      if (eventIsOnRightHalfOfScreen(e, carousel)) {
        carousel.classList.remove('cursor-left');
        carousel.classList.add('cursor-right');
      } else {
        carousel.classList.add('cursor-left');
        carousel.classList.remove('cursor-right');
      }
    });
  }

  function setCurrentPhotoInformation(photos: FlattenedPhotosProps[], index: number) {
    const currentAlbumLength = photos.filter(
      (photo) => photo.albumTitle === photos[index]?.albumTitle,
    ).length;
    const currentPhotoAlbumTitle = photos[index]?.albumTitle;
    const photosWithSameAlbumTitle = photos.filter(
      (photo) => photo.albumTitle === currentPhotoAlbumTitle,
    );
    const centralPhotoIndexInCurrentAlbum = photosWithSameAlbumTitle.findIndex(
      (photo) => photo._key === photos[index]?._key,
    );

    currentAlbum.set({
      albumLength: currentAlbumLength,
      centralPhotoInAlbumIndex: centralPhotoIndexInCurrentAlbum + 1,
      albumName: currentPhotoAlbumTitle,
    });
  }

  function setNextImageOnClick(currentSlide: HTMLLIElement, index?: number) {
    selectedPhotoIndex.set(index! + 1);

    currentSlide.classList.add('is-previous');
    currentSlide.nextElementSibling?.classList.add('is-current');
    currentSlide.nextElementSibling?.nextElementSibling?.classList.add('is-next');
  }

  function setPreviousImageOnClick(currentSlide: HTMLLIElement, index?: number) {
    selectedPhotoIndex.set(index! - 1);

    currentSlide.classList.add('is-next');
    currentSlide.previousElementSibling?.classList.add('is-current');
    currentSlide.previousElementSibling?.previousElementSibling?.classList.add(
      'is-previous',
    );
  }

  function assignCurrentPhotoBasedOnSelectedImage(
    ref: string | undefined,
    photos: FlattenedPhotosProps[],
    slides: NodeListOf<HTMLLIElement>,
  ) {
    if (ref) {
      showClickedImage(ref, slides, photos);
    } else {
      defaultToFirstImage(slides, photos);
    }
  }

  function showClickedImage(
    ref: string,
    slides: NodeListOf<HTMLLIElement>,
    photos: FlattenedPhotosProps[],
  ) {
    const currentPhoto = ref ? photos.findIndex((photo: Photo) => photo._key === ref) : 0;

    selectedPhotoIndex.set(currentPhoto);

    slides.forEach((slide, index) => {
      if (index === currentPhoto) {
        slide.scrollIntoView();
        setCurrentNextAndPreviousSlides(slide);
      }
    });
  }

  function defaultToFirstImage(
    slides: NodeListOf<HTMLLIElement>,
    photos: FlattenedPhotosProps[],
  ) {
    slides.forEach((slide, index) => {
      if (index === 0) {
        slide.classList.add('is-current');
        slide.nextElementSibling?.classList.add('is-next');
      }
    });
    const albumLength = photos.filter(
      (photo: FlattenedPhotosProps) => photo.albumTitle === photos[0]?.albumTitle,
    ).length;
    currentAlbum.set({
      albumLength,
      centralPhotoInAlbumIndex: 1,
      albumName: photos[0].albumTitle,
    });
  }
</script>
